@font-face {
  font-family: "NeueMontreal-Regular";
  src:
    url("/home/ayush/.fonts/") format("woff2"),
    url("/home/ayush/.fonts/") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  color: white;
  font-family: "NeueMontreal-Regular", sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: white;
}

.color-fill {
  position: absolute;
  background-color: #f44336;
  top: 100%;
}

#main {
  width: 100%;
  height: 100vh;
}

#nav {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(42, 41, 41);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

#sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateX(160px);
}

#date {
  font-size: 20px;
}

#content {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options {
  width: 25%;
  background-color: rgb(42, 41, 41);
  height: calc(100vh - 80px);
  padding: 70px 0 0 40px;
}

.options-list {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 0.25px solid rgb(243, 219, 219);
}

.options-list:nth-child(3) {
  border-bottom: 0.25px solid rgb(243, 219, 219);
  margin-bottom: 35vh;
}

.options-list > h2 {
  font-weight: 400;
  font-size: 35px;
}

.sliding-img {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}

.sliding-img > img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

#watch {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100px;
  /* top: 45%; */

  padding: 10px;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#bar {
  margin: 25px auto;
  width: 80%;
  height: 5px;
  background-color: rgb(51, 47, 47);
}

#line {
  width: 0%;
  height: 5px;
  background-color: rgb(25, 57, 99);
}

#list {
  position: relative;
  width: 75%;
  height: calc(100vh - 80px);
  padding: 65px 30px;
  display: flex;
  flex-direction: column;
  background-color: #f8f4ec;
}

#submit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 120px;
  height: 60px;
  margin: auto;
  background-color: #555;
  border-radius: 1.2em;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 50px;
}

#submit span {
  z-index: 99;
}

#submit span svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-color {
  width: 120px;
  height: 60px;
  border-radius: 1.2em;
}

#goals-added-container {
  position: relative;
  width: 100%;
  height: 800px;
  color: black;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

ul li {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  list-style: none;
  font-size: 25px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 40px;
  margin-bottom: 50px;
}

ul li::before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(To-Do-Img/images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 35.5px;
  left: 8px;
}

ul li.checked {
  color: #aeaaaa;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(To-Do-Img/images/checked.png);
  background-size: cover;
  background-position: center;
}

ul li span {
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 29px;
  width: 40px;
  height: 40px;
  font-size: 35px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  color: #f44336;
  background: #edeef0;
  transition: ease-in-out 0.3s;
}

#adding-goals {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

#add {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #634b49;
  cursor: pointer;
  overflow: hidden;
}

#add span {
  z-index: 99;
}

#add span svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#adding-goals > input {
  padding: 0 70px 0 20px;
  height: 60px;
  width: 0px;
  border-radius: 1.2em;
  font-size: 26px;
  border: none;
  outline: none;
  background-color: rgb(232, 220, 217);
  opacity: 0;
}
